<!DOCTYPE html>

<html>
<head>
<title>Add Image</title>
<h1 align="center">Choose your fruit</h1>
<script>
function fruitorder()
{
  
if(document.getElementById("1-5").checked == true)
{
  Mycar = "Not many come by car"; 
}
if(document.getElementById("1-5w").checked == true)
{
  Mywalk = "Not many walk to school";
}
if(document.getElementById("1-5b").checked == true)
{
  Mybus = "Not many come with school bus";
}
if(document.getElementById("6-10").checked == true)
{
  Mycar = "Half of the class come by car";
}
if(document.getElementById("6-10w").checked == true)
{
  Mywalk = "Half of the class walks to school";
}
if(document.getElementById("6-10b").checked == true)
{
  Mybus = "Half of the class comes by bus";
}
if(document.getElementById("11-20").checked == true)
{
  Mycar = "Majority of them come by car";
}
if(document.getElementById("11-20w").checked == true)
{
  Mywalk = "Majority of them walk to school";
}
if(document.getElementById("11-20b").checked == true)
{
  Mybus = "Majority of them come by bus";
}

document.getElementById("transport").innerHTML = Mycar;
document.getElementById("transport1").innerHTML = Mywalk;
document.getElementById("transport2").innerHTML = Mybus;
return false;

}
</script>

</head>
<body>
    <br><br>
    <p style="text-align:center;">
    <img src="static/apple.jpg" width="150" alt="Logo">
    <img src="static/orange.jpg" width="150" alt="Logo">
    <img src="static/pineapple.jpg" width="150" alt="Logo"></p>
    <br>
    <form method="post" onsubmit="return fruitorder()">
        <table align="center" border="1" width="400">
            <tr>
            <td>Quatity/Fruits</td><td align="30%">Type of Fruits</td>
            </tr>
            <tr>
            <td>Apple $1 </td><td><input type="radio" id="one1" name="car" value="one1">one
                              <input type="radio" id="two1" name="car" value="two1">two
                              <input type="radio" id="three1" name="car" value="three1">three
            </td>
            </tr>
            <tr>
            <td>Orange $2 </td><td><input type="radio" id="one2" name="walk" value="one2">one
                              <input type="radio" id="two2" name="walk" value="two2">two
                              <input type="radio" id="three2" name="walk" value="three2">three
            </td>
            </tr>
            <tr>
            <td>Pineapple $3 </td><td><input type="radio" id="one3" name="bus" value="one3">one
                              <input type="radio" id="two3" name="bus" value="two3">two
                              <input type="radio" id="three3" name="bus" value="three3">three
            </td>
            </tr>
            <tr><td><input type="submit" value="Next"></td><td>Submit your purchase!Thank You</td></tr>
            </table>
    </form>
    <br><br>
<table align="center" border="1" width="400">
<tr>
<td width="33%">Item :</td><td align="center">Your Fruits Purchase</td></tr>
<tr>
<td width="33%">Apple Quatity: </td><td><div id="transport"></div></td>
</tr>
<tr>
<td width="33%">Orange Quatity: </td><td><div id="transport1"></div></td>
</tr>
<tr>
<td width="33%">Pineapple Quatity: </td><td><div id="transport2"></div></td>
</tr>
<tr>
  <td width="33%">Total Price </td><td><div id="transport3"></div></td>
  </tr>
</table>    
</body>
</html>